@font-face {
  font-family: 'Condensed';
  src: local('Condensed'), url(./fonts/OpenSansCondensed-Light.ttf) format('truetype');
}

:root {
  --main-color: #ffa500;
  --light: #DBC2CF;
  --dark: #282C34;
  --middle: #7B6D8D;
  --middle-gray: #9FA2B2;
}

body {
  font-family:  'Condensed';
}


